/* FOnts Inter*/
@font-face {
  font-family: Inter-Medium;
  src: url(/Inter-Medium.ttf);
}

@font-face {
  font-family: Inter-ExtraBold;
  src: url(/Inter-ExtraBold.ttf) format("truetype");
}

@font-face {
  font-family: Inter-Bold;
  src: url(/Inter-Bold.ttf) format("truetype");
}
/* General Styles */

* {
  margin: 0;
  padding: 0;
  font-family: 'Inter', sans-serif;
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  width: 100dvw;
  box-sizing: border-box;
  overflow-x: hidden;
}

#main{
  padding-right: 14px;
}

.top-banner-wraper {
  background-color: #f5f0f0;
  width: 100vw;
  padding: 13px 0 12px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 68px;
}

/* Top Banner */
.top-banner {
  max-width: 1255px;
  height: 100%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2px;
}

.top-banner h2 {
  margin: 0;
  color: rgb(6, 41, 81);
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.7px;
  line-height: 24px;
}

.highlight {
  color: #e74c3c;
  font-weight: bold;
}

.top-banner .offer {
  font-family: Inter-Medium;
  font-size: 15px;
  font-weight: 500;
  color: rgb(51, 51, 51);
  letter-spacing: 0.8px;
  margin-left: -12px;

}

/* Navbar */
.navbar-wraper {
  width: 100%;
  border-bottom: 1px solid rgb(231, 231, 231);
  background-color: white;
  border-color: #e7e7e7;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 0.07);
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 9;
}
.navbar {
  display: flex;
  max-width: 1255px;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  height: 66.02px;
  /* padding: 10px 200px 12px 166px; */
}

.logo {
  width: 205px;
}


.navbar .button-wrapper {
  border: 1px solid rgb(255, 100, 69);
  border-bottom: 2px solid rgb(255, 100, 69);
  background-color: #ffff;
  color: rgb(255, 100, 69);
  border-radius: 5px;
  font-size: 12px;
  padding: 8px 15px ;
  fill: rgb(255, 100, 69);
  display: flex;
  gap: 5px;
  font-size: 16px;
  font-weight: 700;
  line-height: 22px;
}

.navbar .button-wrapper svg {
  height: 15px;
}

.navbar .button-wrapper:hover {
  background-color: rgb(255, 100, 69);
  color: #fff;
  fill: #ffff;
}

/* Hero Section */
.hero-wraper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.3px solid rgb(236, 241, 243);
  max-height: 465px;
  height: 427px;
}

.hero {
  max-width: 1255px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  height: 100%;
  
}

/* Hero Text */
.hero-content h1 {
  font-family: Inter-ExtraBold;
  font-size: 46px;
  font-weight: 800;
  color: rgb(6, 41, 81);
  line-height: 59px;
  
}
.hero-content .highlight {
  font-family: Inter-ExtraBold;
  font-size: 58px;
  font-weight: 800;
  line-height: 75px;
  
  text-transform: uppercase;
  color: #ff5733;
}

/* Hero Image */
.hero-image {
  max-width: 100%;
  margin: 0;
}
.hero-image img {
  margin-right: -14px;
  height: 345px;
}

/* Courses grid stared */

.courses-container-wraper {
    padding-top: 40px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1.3px solid rgb(236, 241, 243);
  background-color: #fcfcfc;
}
.courses-container {
  width: 1255px;
  display: flex;
  justify-content: start;
  align-content: center;
  flex-direction: column;
  gap: 25px
}

h2 {
  font-size: 30px;
  font-weight: 800;
  color: rgb(6, 41, 81);
  font-family: Inter-ExtraBold;
}

.explore-courses-section {
  display: flex;
}
.courses-sidebar{
  margin-bottom: 40px;
}
.courses-sidebar ul {
  list-style: none;
  padding: 0;
}

.courses-sidebar li {
  padding: 14px 26px ;
  cursor: pointer;
  font-size: 16px;
  font-weight: 600;
  color: rgb(93, 110, 118);
  letter-spacing: -0.2px;
  min-width: 275px;
  /* border: 1px solid rgb(234, 234, 234); */
}
.courses-sidebar .active {
  border: 1px solid rgb(234, 234, 234);
  border-right-color: #FCFCFC;
  /* border-right-color: #990000; */
  margin-right: -1px;
  color: #ff5733;
  position: relative;
  z-index: 5;
}


.section-title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  margin-bottom: 20px;
}
.courses-grid-wrapper{
  border: 1px solid rgb(234, 234, 234); 
  width:100%;
  margin-bottom: 40px;
}
.courses-grid {
  padding: 20px 28px;
  display: grid;
  grid-template-columns: auto auto auto auto;
  column-gap: 16px;
  height: fit-content;
  row-gap: 15px;
  
}

.course-card {
  background: #ffffff;
  color: #062951;
  /* font-family: Inter-Bold; */
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  padding: 15px;
  border-radius: 8px;
  text-align: left;
  transition: 0.3s;
  border: 1px solid rgb(230, 230, 230);
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-height: 110px;
}

.course-card span {
  font-size: 14px;
  color: #1877F2;
  font-weight: 500;
  font-family: 'Inter', sans-serif;
  
}

.course-card:hover {
  border-color: #ff5733;
}

.course-card a {
  display: block;
  margin-top: 10px;
  color: #fff;
  text-decoration: underline;
}


.our-parent-wrapper{
    padding-top: 63px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 63px;
    width: 100vw;
    background-color: #ffff;

}
.our-parent-wrapper .our-channels{
    max-width: 1255px;
    width: 1255px;
    display: flex;
    flex-direction: column;
    gap: 30px;

}
.our-parent-wrapper h1{
    color: rgb(6, 41, 81);
    font-size: 30px;
    font-weight: 800;
    line-height: 30px;
    font-family: Inter-ExtraBold;

}

.our-parent-wrapper .parent{
    box-shadow: 0px 12px 25px 0 rgb(0 0 0 / .05);
    padding: 40px 50px 35px 50px;
    border-radius: 18px;
    max-width: 1255px;
}

.our-channels .parent{
    display: flex;
    gap: 17px;
    justify-content: center;
    align-items: center;
    width: 100%;
  
}

.our-channels img{
    border-radius: 200px;
    height: 69.57px;
    width: 69.57px;
}
.our-channels .card{
    background: #ffffff;
    color: rgb(6, 41, 81);
    padding: 25px 30px;
    border: 1px solid rgb(242, 242, 242);
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 20px;
    width: 558px;

}

.our-channels .card .text h2{
font-size: 18px;
font-weight: 700;
line-height: 24px;
}
.our-channels .card .text p{
    font-size: 14px;
    font-weight: 500;
    color: #e74c3c;

}

.our-channels .card:hover{
    border-color: #e74c3c;
}



.our-features{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1255px;
    max-width: 1255px;

    
}
.our-features .parent{
    display: grid;
    grid-template-columns: auto auto auto auto;
    row-gap: 47px;
    column-gap: 85px;
}
.our-features .card img{
height: 49.5px;
width: 49.5px;
border-radius: 100%;
}

.our-features .card {
    display: flex   ;
    gap: 15px;
}
.our-features .card .text{
    font-size: 16;
    font-weight: 700;
    line-height: 24px;
    color: rgb(6, 41, 81);
}

.on-your-phone{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 1255px;
    max-width: 1255px;
    height: 468px;
}

.on-your-phone .parent{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    border-radius: 18px;

    padding: 40px 50px 0 50px;

}
.on-your-phone .left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:flex-start;
    gap: 15px; 
    height: 100%;
    
}
.on-your-phone .left h1{
color: rgb(24, 46, 57);
font-size: 30px;
font-weight: 800;
line-height: 42px;
}
.on-your-phone .left p{
color: rgb(24, 46, 57);
font-size: 20px;
font-weight: 500;
line-height: 32px;

}

.on-your-phone .left img{
  margin-top: 15px;
    height: 64px;
}
.on-your-phone .playstore-logo{
height: 80px;

}
.on-your-phone .left img:hover{
   margin-top: 10px;
   transition: all 0.4s;

}
.on-your-phone .right{
  height: 100%;

}
.on-your-phone .right img{
    height: 427px;
}


.students-cards{
    max-width: 1255px;
    width: 1255px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding-top: 35px;
}
.students-cards .students-card-parent-wrapper{
display: flex;
justify-content: center;
align-items: center;
gap: 12px;
}
.students-cards h1{
    text-align: center;
}
.students-cards .parent {
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    box-shadow: 0 5px 25px 0 rgba(0, 14.000000000000014, 54, .12);;
    /* width: 400px; */
    height: 350px;
    
}
.students-card-parent-wrapper .parent{
  min-height: 100%;
  width: 415px;
  border-radius: 8px;
}
.students-cards .parent .studnet-comment{
    font-size: 16px ;
    font-weight: 400;
    line-height: 28px;
    color: rgb(59, 64, 66);

}
.students-cards .parent img{
height: 58px;
border-radius: 100%;

}
.students-cards .parent .student{
    display: flex;
    gap: 15px;
}
.students-cards .text h2{
    font-size: 18px;
    font-weight: 600;
    line-height: 32px;
}
.students-cards .text p{
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
   color: rgb(138, 138, 138)
}


/* FAQ section  */
.faq {
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 1255px;
    width: 1255px;
    padding-top: 40px;
    padding-bottom: 20px;

}
.faq h1{
    text-align: center;
}

/* accordion functionality */

.faq-wrapper{
    display: flex;
    gap: 16px   ;
    justify-content: space-between;
}
.faq .accordion{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
}
.accordion-item {
    width: 617px;
    height: 55px;
    background: #fff;
    border-radius: 8px;
    border: 1px solid rgb(225, 225, 225);
    border-bottom: 2px solid rgb(225, 225, 225);
}

.accordion-item label {
    display: block;
    padding: 15px;
    background: #ffffff;
    color: rgb(6, 41, 81);
    font-size: 18px;
    font-weight: 600;
    position: relative;
    display: flex;
    justify-content: space-between;
    border-radius: 8px;
}


.content {
    max-height: 0;
    overflow: hidden;
    background: #f1f1f1;
    padding: 0 15px;
}



/* footer section started */

.custom-footer {
    width: 100%;
    background-color: #100030;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: rgb(255, 255, 255);
    font-family: Inter-ExtraBold;
    max-height: 553px;
    overflow: hidden;
  

}
.custom-footer li{
  list-style: none;

}

.custom-footer__container {
    width: 1255px;
    max-width: 1255px;

   
}

.custom-footer__columns {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 56px;
    
}



.custom-footer__heading {
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 10px;
}



.custom-footer__list li {
    margin-bottom: 8px;
}

.custom-footer__list a {
    color: #ffffff;
    text-decoration: none;
    font-size: 14px;
    font-weight: 500;
    transition:  0.3s;
}

.custom-footer__list a:hover {
    color: #ffcc00;
}



.custom-footer__address {
    font-size: 14px;
    margin-bottom: 10px;
    font-weight: 500;
    letter-spacing: 0.3px;
    line-height: 19px;
    text-wrap: nowrap;
  }
  
  .custom-footer__contacts {
    list-style: none;
    font-size: 14px;
    padding-top: 10px;
    

}

.custom-footer__contacts li {
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
    font-weight: 500;
    font-size: 13px;
    line-height: 24px;
}

.custom-footer__contacts i {
    color: rgb(255, 255, 255);
   padding-right: 5px;
}

.mb-footer-logo{
  height: 35px;
}
.mb-footer-logo:hover{
  scale: 0.9;
  transition: linear 0.5s;
}
/* Google Play Button */
.custom-footer__store {
  margin-top: 20px;
}
.custom-footer__store img {
    width: 150px;
   
    border: 1px solid #ffff;
    border-radius: 5px;
}

/* Bottom Section */
.custom-footer__bottom-wrapper {
    margin-top: 22px;
    border-top: 1px solid rgb(35, 19, 61);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items:center;
 
    
    
}
.custom-footer__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    padding-left: 0;
    font-size: 13px;
    font-weight: 400;
    max-width: 1255px;
    width: 1255px;

}

.custom-footer__bottom p{
  font-size: 13px;
  font-weight: 400;
  letter-spacing: 0.5px;

}


/* Social Icons */
.custom-footer__social-icons{
    display: flex;
    gap: 5px;
    width: 284px;
}
.custom-footer__social-icons a {
   
    color: rgb(255, 255, 255);
    font-size: 20px;
    text-decoration: none;
    border: 1px solid #fff;
    border-radius: 5px;
    height: 30px;
    width: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}




